@import 'tailwindcss';
@config '../tailwind.config.cjs';

@theme {
  --spacing-leftnavbar: 48px;
  --spacing-leftsidebar: 170px;
}

@source "../../node_modules/@podman-desktop/ui-svelte/dist/**/*.{svelte,ts,css}";

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility fa-w-* {
  --fa-width: --value([length], [percentage]);
}
